In [19]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import weather_api_key

In [20]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jamestown,US,2022-01-27 21:56:28,42.0970,-79.2353,25.02,49,100,8.01
1,1,Saint-Philippe,RE,2022-01-27 21:57:01,-21.3585,55.7679,71.19,83,70,7.45
2,2,Nikolskoye,RU,2022-01-27 21:57:50,59.7035,30.7861,29.71,96,100,8.43
3,3,Raga,SS,2022-01-27 21:57:51,8.4596,25.6780,68.77,22,94,3.69
4,4,Maltahohe,NaN,2022-01-27 21:57:52,-24.8333,16.9833,79.41,30,56,13.60

In [21]:
# get the data types to make sure it's an integer or  or floating point decimal
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [22]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=weather_api_key)

In [23]:
# Get max temp and filter out any negative temps
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [24]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))