In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jamestown,US,2022-01-27 21:56:28,42.0970,-79.2353,25.02,49,100,8.01
1,1,Saint-Philippe,RE,2022-01-27 21:57:01,-21.3585,55.7679,71.19,83,70,7.45
2,2,Nikolskoye,RU,2022-01-27 21:57:50,59.7035,30.7861,29.71,96,100,8.43
3,3,Raga,SS,2022-01-27 21:57:51,8.4596,25.6780,68.77,22,94,3.69
4,4,Maltahohe,NaN,2022-01-27 21:57:52,-24.8333,16.9833,79.41,30,56,13.60

In [3]:
# get the data types to make sure it's an integer or  or floating point decimal
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get max temp and filter out any negative temps
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable. weights using list comprehension instead of for loops
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
humidity = city_data_df["Humidity"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable. weights using list comprehension instead of for loops
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#Cloudiness percent heatmap
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the cloudiness
cloudiness = city_data_df["Cloudiness"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable. weights using list comprehension instead of for loops
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#wind speed heatmap
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the cloudiness
wind = city_data_df["Wind Speed"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable. weights using list comprehension instead of for loops
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#Asking the customer to imput a min and max temp value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?95

In [11]:
# new data frame filtering the column maximum temp
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Maltahohe,NaN,2022-01-27 21:57:52,-24.8333,16.9833,79.41,30,56,13.60
5,5,Carnarvon,AU,2022-01-27 21:54:27,-24.8667,113.6333,75.27,78,40,8.05
6,6,Promissao,BR,2022-01-27 21:57:53,-21.5367,-49.8581,82.20,59,100,5.14
10,10,Souillac,MU,2022-01-27 21:57:55,-20.5167,57.5167,77.38,73,40,5.75
11,11,Arraial Do Cabo,BR,2022-01-27 21:57:56,-22.9661,-42.0278,84.16,65,0,13.80
14,14,Emerald,AU,2022-01-27 21:54:30,-23.5333,148.1667,78.35,78,85,11.50
16,16,Nanakuli,US,2022-01-27 21:57:58,21.3906,-158.1547,80.46,63,0,1.68
22,22,Trairi,BR,2022-01-27 21:58:02,-3.2778,-39.2689,76.30,86,100,8.30
25,25,Pangoa,PE,2022-01-27 21:58:04,-12.1167,-73.0000,76.37,89,100,0.96
26,26,Georgetown,MY,2022-01-27 21:56:11,5.4112,100.3354,80.53,89,20,0.00

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
#finding nulls
preferred_cities_df.count()

City_ID       147
City          147
Country       146
Date          147
Lat           147
Lng           147
Max Temp      147
Humidity      147
Cloudiness    147
Wind Speed    147
dtype: int64

In [14]:

preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Carnarvon,AU,2022-01-27 21:54:27,-24.8667,113.6333,75.27,78,40,8.05
6,6,Promissao,BR,2022-01-27 21:57:53,-21.5367,-49.8581,82.20,59,100,5.14
10,10,Souillac,MU,2022-01-27 21:57:55,-20.5167,57.5167,77.38,73,40,5.75
11,11,Arraial Do Cabo,BR,2022-01-27 21:57:56,-22.9661,-42.0278,84.16,65,0,13.80
14,14,Emerald,AU,2022-01-27 21:54:30,-23.5333,148.1667,78.35,78,85,11.50
...,...,...,...,...,...,...,...,...,...,...
543,543,Mayumba,GA,2022-01-27 22:14:32,-3.4320,10.6554,76.46,88,48,2.26
552,552,Skeldon,GY,2022-01-27 22:15:38,5.8833,-57.1333,75.40,84,95,5.99
562,562,Ilhabela,BR,2022-01-27 22:15:45,-23.7781,-45.3581,78.57,83,96,4.03
565,565,Oistins,BB,2022-01-27 22:14:13,13.0667,-59.5333,77.09,69,20,10.36
566,566,Quepos,CR,2022-01-27 22:15:47,9.4236,-84.1652,93.79,67,7,5.59

In [15]:
#Create a new DF for hotels to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
4         Maltahohe     NaN     79.41 -24.8333   16.9833
5         Carnarvon      AU     75.27 -24.8667  113.6333
6         Promissao      BR     82.20 -21.5367  -49.8581
10         Souillac      MU     77.38 -20.5167   57.5167
11  Arraial Do Cabo      BR     84.16 -22.9661  -42.0278
14          Emerald      AU     78.35 -23.5333  148.1667
16         Nanakuli      US     80.46  21.3906 -158.1547
22           Trairi      BR     76.30  -3.2778  -39.2689
25           Pangoa      PE     76.37 -12.1167  -73.0000
26       Georgetown      MY     80.53   5.4112  100.3354

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame in order to get the search.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    #Add the lat and long to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    #use the search term "lodging" and lat and long
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("hotel not found...skipping")

hotel not found...skipping
hotel not found...skipping
hotel not found...skipping
hotel not found...skipping

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Maltahohe,NaN,79.41,-24.8333,16.9833,Maltahöhe Hotel
5,Carnarvon,AU,75.27,-24.8667,113.6333,Hospitality Carnarvon
6,Promissao,BR,82.20,-21.5367,-49.8581,Recanto Monte Cristo
10,Souillac,MU,77.38,-20.5167,57.5167,Shanti Maurice Resort & Spa
11,Arraial Do Cabo,BR,84.16,-22.9661,-42.0278,Pousada Porto Praia
14,Emerald,AU,78.35,-23.5333,148.1667,The Irish Village
16,Nanakuli,US,80.46,21.3906,-158.1547,Camp Pālehua
22,Trairi,BR,76.30,-3.2778,-39.2689,janelas do mar
25,Pangoa,PE,76.37,-12.1167,-73.0000,
26,Georgetown,MY,80.53,5.4112,100.3354,Cititel Penang

In [19]:
# Adding heatmap of temp for vacation spots
locations = hotel_df[["Lat", "Lng"]]

# Get the cloudiness
max_temp = hotel_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable. weights using list comprehension instead of for loops
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

# Add the heatmap layer.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [21]:
# Store the DF row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Adding heatmap of temp for vacation spots
locations = hotel_df[["Lat", "Lng"]]

# Get the cloudiness
max_temp = hotel_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable. weights using list comprehension instead of for loops
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the heatmap layer.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))